.title {
    font-size: 50px;
}

.form {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.input {
    width: 100%;
}

.btn {
    background-color: #8A8A8A;
    border: 0px solid;
    border-radius: 6px;
    color: #D9D9D9;
}

@media only screen and (max-width: 991px) {
    .form {
        width: 60%;
    }
}